<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>监控系统</title>
    <style>
        body {
            background-color: #484856;
        }

    </style>
</head>
<body>
<h1 align="center" style="color: whitesmoke;">视频流媒体直播</h1>
<div class="top">
    <div class="recorder" id="recorder" align="center">
        <button id="record" class="btn">录制视频</button>
        <button id="stop" class="btn">暂停录制</button>
        <input type="button" class="btn" value="退出登录"
               onclick="javascrtpt:window.location.href='{{ url_for('logout') }}'">
        <a id="download"></a>
        <script type="text/javascript" src="{{ url_for('static', filename='recorder.js') }}"></script>
    </div>
</div>
<img id="video" src="{{ url_for('video_viewer') }}">
</body>
</html>
